last: Game {
    start_time: 2021-02-17T01:00:00Z,
    end_time: Some(
        2021-02-17T03:24:00Z,
    ),
    clock: "",
    period: Period(
        Period {
            current: 4,
            ty: 0,
            is_halftime: false,
            is_end_of_period: false,
        },
    ),
    home: Team {
        id: String(
            "1610612750",
        ),
        team_name: None,
        team_city: None,
        tri_code: "MIN",
        win: String(
            "7",
        ),
        loss: String(
            "21",
        ),
        score: String(
            "104",
        ),
        in_bonus: None,
        timeouts_remaining: None,
        periods: [
            LineScore {
                score: String(
                    "27",
                ),
            },
            LineScore {
                score: String(
                    "29",
                ),
            },
            LineScore {
                score: String(
                    "28",
                ),
            },
            LineScore {
                score: String(
                    "20",
                ),
            },
        ],
    },
    away: Team {
        id: String(
            "1610612747",
        ),
        team_name: None,
        team_city: None,
        tri_code: "LAL",
        win: String(
            "22",
        ),
        loss: String(
            "7",
        ),
        score: String(
            "112",
        ),
        in_bonus: None,
        timeouts_remaining: None,
        periods: [
            LineScore {
                score: String(
                    "30",
                ),
            },
            LineScore {
                score: String(
                    "27",
                ),
            },
            LineScore {
                score: String(
                    "29",
                ),
            },
            LineScore {
                score: String(
                    "26",
                ),
            },
        ],
    },
    game_leaders: None,
}
today: Some(
    Game {
        start_time: 2021-02-18T01:00:00Z,
        end_time: None,
        clock: "",
        period: Number(
            0,
        ),
        home: Team {
            id: Number(
                1610612750,
            ),
            team_name: Some(
                "Timberwolves",
            ),
            team_city: Some(
                "Minnesota",
            ),
            tri_code: "MIN",
            win: Number(
                7,
            ),
            loss: Number(
                21,
            ),
            score: Number(
                0,
            ),
            in_bonus: None,
            timeouts_remaining: Some(
                0,
            ),
            periods: [
                LineScore {
                    score: Number(
                        0,
                    ),
                },
                LineScore {
                    score: Number(
                        0,
                    ),
                },
                LineScore {
                    score: Number(
                        0,
                    ),
                },
                LineScore {
                    score: Number(
                        0,
                    ),
                },
            ],
        },
        away: Team {
            id: Number(
                1610612754,
            ),
            team_name: Some(
                "Pacers",
            ),
            team_city: Some(
                "Indiana",
            ),
            tri_code: "IND",
            win: Number(
                14,
            ),
            loss: Number(
                14,
            ),
            score: Number(
                0,
            ),
            in_bonus: None,
            timeouts_remaining: Some(
                0,
            ),
            periods: [
                LineScore {
                    score: Number(
                        0,
                    ),
                },
                LineScore {
                    score: Number(
                        0,
                    ),
                },
                LineScore {
                    score: Number(
                        0,
                    ),
                },
                LineScore {
                    score: Number(
                        0,
                    ),
                },
            ],
        },
        game_leaders: Some(
            GameLeaders {
                home_leaders: GameLeader {
                    id: Number(
                        0,
                    ),
                    name: "",
                    number: "",
                    position: "",
                    player_slug: None,
                    points: 0,
                    rebounds: 0,
                    assists: 0,
                },
                away_leaders: GameLeader {
                    id: Number(
                        0,
                    ),
                    name: "",
                    number: "",
                    position: "",
                    player_slug: None,
                    points: 0,
                    rebounds: 0,
                    assists: 0,
                },
            },
        ),
    },
)
next: Game {
    start_time: 2021-02-20T02:00:00Z,
    end_time: None,
    clock: "",
    period: Period(
        Period {
            current: 0,
            ty: 0,
            is_halftime: false,
            is_end_of_period: false,
        },
    ),
    home: Team {
        id: String(
            "1610612750",
        ),
        team_name: None,
        team_city: None,
        tri_code: "MIN",
        win: String(
            "7",
        ),
        loss: String(
            "21",
        ),
        score: String(
            "",
        ),
        in_bonus: None,
        timeouts_remaining: None,
        periods: [],
    },
    away: Team {
        id: String(
            "1610612761",
        ),
        team_name: None,
        team_city: None,
        tri_code: "TOR",
        win: String(
            "13",
        ),
        loss: String(
            "15",
        ),
        score: String(
            "",
        ),
        in_bonus: None,
        timeouts_remaining: None,
        periods: [],
    },
    game_leaders: None,
}
